<app-toolbar></app-toolbar>
<div class="main-page">
  <ng-container *ngIf="auth.isAuthenticated$ | async; else information">
    <div class="main-panel">
      <app-create-shortlink></app-create-shortlink>
    </div>
  </ng-container>
  <ng-template #information>
    <div class="main-panel">
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            <h2 translate>pages.landing.title</h2>
          </mat-card-title>
          <mat-card-subtitle translate>
            pages.landing.subtitle
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p translate>pages.landing.login-required</p>
        </mat-card-content>
        <mat-card-actions align="end"> </mat-card-actions>
      </mat-card>
    </div>
  </ng-template>
</div>
