.toolbar-spacer {
  flex: 1 1 auto;
}

.main-page {
  height: calc(100vh - 64px);
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;

  .main-panel {
    width: 100%;
  }
}

.mat-mdc-card-actions {
  display: flex;
  .flex-spacer {
    padding-left: 1rem;
    text-align: left;
    flex: 1 1 auto;
  }
  .flex-small {
    text-align: right;
    flex: 0 0 auto;
  }
}

@media only screen and (min-width: 768px) {
  .main-page {
    .main-panel {
      width: 100%;
    }
  }
}

@media only screen and (min-width: 1200px) {
  .main-page {
    .main-panel {
      width: 75%;
    }
  }
}

@media only screen and (min-width: 1600px) {
  .main-page {
    .main-panel {
      width: 50%;
    }
  }
}
